{% extends "registration/base.html" %}

{% load bootstrap3 %}
{% load static %}  

{% block title %}SAOA / Login{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <br>
        <h2 align='center'>Sistema de Avaliação Online de Artigos</h2>

        <h4>A inovação que você precisava para facilitar a disseminação e avaliação de pesquisas!</h4>
        <p align='justify'>
          Estamos entusiasmados em apresentar o SAOA, uma plataforma desenvolvida para atender à crescente demanda por ferramentas gratuitas e acessíveis para a comunidade acadêmica. Com o SAOA, organizadores de eventos podem criar chamadas de trabalhos, onde pesquisadores têm um espaço dedicado para enviar seus trabalhos no formato de artigo e receber avaliações de outros especialistas na área.
        </p>
        <p align="justify">
          Resultado de projeto extensionista da UFN, 
          em parceria com Curso de Ciência da Computação, Laboratório de Práticas UFN e empresa <a href='http://erclinic.com.br/' target='blank'>ER Clinic </a>
        </p>
          
        <h4>Por que escolher o SAOA?</h4>
        <ul>
          <li>Gratuito e Acessível: Nossa plataforma é totalmente gratuita, garantindo que todos os pesquisadores, independentemente de recursos financeiros, possam compartilhar e avaliar trabalhos científicos;</li>
          <li>acilidade de Uso: A interface intuitiva do SAOA permite que você envie seus artigos com facilidade e acompanhe o processo de avaliação de forma transparente e eficiente;</li>
          <li>Colaboração Acadêmica: Ao possibilitar que organizadores de eventos criem chamadas de trabalhos, pesquisadores de diversas áreas e regiões irão poder contribuir com avaliações detalhadas. Dessa forma, o SAOA promove uma rede colaborativa e enriquecedora para o avanço da ciência;</li>
          <li>Feedback Valioso: Receba comentários construtivos e sugestões de melhoria de outros pesquisadores experientes, ajudando a elevar a qualidade de seus trabalhos.</li>
        </ul>
          
        <h4>Como funciona?</h4>
          
          <ol>
            <li>Criação de Chamadas de Trabalhos: Organizadores podem contar com uma ferramenta que recebe, distribui, promove avaliação, gera feedbacks e rankeia os artigo;</li>
            <li>Submissão de Artigos: Envie seu artigo para o SAOA, garantindo que ele esteja disponível para a comunidade acadêmica;</li>
            <li>Avaliação pelos Pares: Pesquisadores da sua área de atuação são convidados a avaliar seu trabalho, oferecendo feedback detalhado e imparcial;</li>
            <li>Revisão e Melhoria: Utilize os comentários recebidos para aprimorar seu artigo, aumentando suas chances de sucesso em futuras publicações e apresentações</li>
            <li>Compartilhamento de Conhecimento: Contribua você também avaliando artigos de outros pesquisadores, fortalecendo a troca de conhecimento e colaboração científica;</li>
          </ol>
          
          {% comment %} <p>
          O SAOA vem suprir uma carência importante no cenário acadêmico, oferecendo uma solução eficaz para a avaliação de artigos científicos. Seja você um pesquisador experiente ou iniciante, nossa plataforma está aqui para apoiar seu crescimento e sucesso.
          </p> {% endcomment %}
          <p>
            <a class="btn btn-info" style="width:100%;" href="mailto:lapinf@ufn.edu.br?subject=Assunto do email&cc=copia@provedor.com.br&bcc=copiaoculta@provedor.com.br&body=Conteúdo do email que será preenchido automaticamente">{% bootstrap_icon 'glyphicon glyphicon-envelope' %} Para mais informações contate lapinf.ufn.edu.br</a>
          </p>
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        {% comment %} <div class="col-sm-6 col-md-4 col-md-offset-4"> {% endcomment %}
            <div class="text-center">
              <br> 
              <img src="{% static 'core/img/logo.jpg' %}"
                   class="img-fluid" style="max-width: 280px;">                            
            </div>  
            <br>
              <div class="account-wall">
                <form class="form-signin" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <span class="clearfix"></span>
                <p style="text-align:center;">
                  <button type="submit" style="width:100%;" class="btn btn-primary btn-small" >
                    {% bootstrap_icon 'glyphicon glyphicon-off' %} Entrar
                  </button>
                </p>
                <p style="text-align:center;">
                  <a class="btn btn-info" style="width:49%;" href="{% url 'usuario_register' %}">{% bootstrap_icon 'glyphicon glyphicon-user' %} Criar conta</a>
                  <a class="btn btn-warning" style="width:49%;" href="{% url 'password_reset' %}">{% bootstrap_icon 'glyphicon glyphicon-flag' %} Resetar senha</a>
                </p>
                </form>
              </div>
              <br>
              <div class="text-center">
                <a href="https://lapinf.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logo_lapinf.png' %}"
                  style="width: 80px;"></a>   
                  
                  <a href="http://erclinic.com.br/" target="_blank"><img src="{% static 'core/img/logoERClinic.png' %}"
                    style="width: 70px;"></a>                          
              </div>
              <div align="center">
                <hr>
                <p>Todos os direitos reservados | Desde 2024.</p>
            </div>
        </div>
    </div>
{% endblock %}
