{% extends "registration/base.html" %}

{% load bootstrap3 %}
{% load static %}  

{% block title %}SAA / Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="text-center">
              <br> 
              <img src="{% static 'core/img/logo.jpg' %}"
                   class="img-fluid" style="max-width: 280px;">                            
            </div>  
            <br>
              <div class="account-wall">
                <form class="form-signin" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <span class="clearfix"></span>
                <p style="text-align:center;">
                  <button type="submit" style="width:100%;" class="btn btn-primary btn-small" >
                    {% bootstrap_icon 'glyphicon glyphicon-off' %} Entrar
                  </button>
                </p>
                <p style="text-align:center;">
                  <a class="btn btn-info" style="width:49%;" href="{% url 'usuario_register' %}">{% bootstrap_icon 'glyphicon glyphicon-user' %} Criar conta</a>
                  <a class="btn btn-warning" style="width:49%;" href="{% url 'password_reset' %}">{% bootstrap_icon 'glyphicon glyphicon-flag' %} Resetar senha</a>
                </p>
                </form>
              </div>
              <br>
              <div class="text-center">
                <a href="https://lapinf.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logo_lapinf_hor.png' %}"
                  style="width: 240px;"></a>                          
              </div>
        </div>
    </div>
{% endblock %}
