{% extends "registration/base.html" %}

{% load bootstrap3 %}
{% load static %}  

{% block title %}SAOA / Login{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <br>
        <h2 align='center'>História</h2>
        <p align="justify">
          Resultado de projeto extensionista da UFN, 
          em parceria com Curso de Ciência da Computação, Laboratório de Práticas UFN e empresa ER Clinic.
        </p>
        
        <h2 align='center'>Sistema de Avaliação Online de Artigos</h2>

        <h4>A inovação que você precisava para facilitar a disseminação e avaliação de pesquisas!</h4>
          
        <p>
          Estamos entusiasmados em apresentar o Sistema de Avaliação Online de Artigos (SAOA), uma plataforma desenvolvida para atender à crescente demanda por ferramentas gratuitas e acessíveis para a comunidade acadêmica. Com o SAOA, pesquisadores agora têm um espaço dedicado para enviar seus trabalhos no formato de artigo e receber avaliações de outros especialistas na área.
        </p>
        <h4>Por que escolher o SAOA?</h4>
          
          - **Gratuito e Acessível**: Nossa plataforma é totalmente gratuita, garantindo que todos os pesquisadores, independentemente de recursos financeiros, possam compartilhar e avaliar trabalhos científicos.
          - **Facilidade de Uso**: A interface intuitiva do SAOA permite que você envie seus artigos com facilidade e acompanhe o processo de avaliação de forma transparente e eficiente.
          - **Colaboração Acadêmica**: Ao possibilitar que pesquisadores de diversas áreas e regiões contribuam com avaliações detalhadas, o SAOA promove uma rede colaborativa e enriquecedora para o avanço da ciência.
          - **Feedback Valioso**: Receba comentários construtivos e sugestões de melhoria de outros pesquisadores experientes, ajudando a elevar a qualidade de seus trabalhos.
          
          ### Como funciona?
          
          1. **Submissão de Artigos**: Envie seu artigo para o SAOA, garantindo que ele esteja disponível para a comunidade acadêmica.
          2. **Avaliação pelos Pares**: Pesquisadores da sua área de atuação são convidados a avaliar seu trabalho, oferecendo feedback detalhado e imparcial.
          3. **Revisão e Melhoria**: Utilize os comentários recebidos para aprimorar seu artigo, aumentando suas chances de sucesso em futuras publicações e apresentações.
          4. **Compartilhamento de Conhecimento**: Contribua você também avaliando artigos de outros pesquisadores, fortalecendo a troca de conhecimento e colaboração científica.
          
          O SAOA vem suprir uma carência importante no cenário acadêmico, oferecendo uma solução eficaz para a avaliação de artigos científicos. Seja você um pesquisador experiente ou iniciante, nossa plataforma está aqui para apoiar seu crescimento e sucesso.
          
          Junte-se ao SAOA hoje mesmo e faça parte de uma comunidade dedicada à excelência e ao avanço da pesquisa!
          
          Para mais informações e para começar a usar o SAOA, visite nosso site: [www.saoa-platform.com](#)
          
          Aguarde, a ciência não pode parar!
        </p>
      </div> 
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        {% comment %} <div class="col-sm-6 col-md-4 col-md-offset-4"> {% endcomment %}
            <div class="text-center">
              <br> 
              <img src="{% static 'core/img/logo.jpg' %}"
                   class="img-fluid" style="max-width: 280px;">                            
            </div>  
            <br>
              <div class="account-wall">
                <form class="form-signin" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <span class="clearfix"></span>
                <p style="text-align:center;">
                  <button type="submit" style="width:100%;" class="btn btn-primary btn-small" >
                    {% bootstrap_icon 'glyphicon glyphicon-off' %} Entrar
                  </button>
                </p>
                <p style="text-align:center;">
                  <a class="btn btn-info" style="width:49%;" href="{% url 'usuario_register' %}">{% bootstrap_icon 'glyphicon glyphicon-user' %} Criar conta</a>
                  <a class="btn btn-warning" style="width:49%;" href="{% url 'password_reset' %}">{% bootstrap_icon 'glyphicon glyphicon-flag' %} Resetar senha</a>
                </p>
                </form>
              </div>
              <br>
              <div class="text-center">
                <a href="https://lapinf.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logo_lapinf_hor.png' %}"
                  style="width: 240px;"></a>                          
              </div>
        </div>
    </div>
{% endblock %}
