{% extends 'registration/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_content %}
    <br>
  <div class="container">
    <div class="row panel panel-default panel-body">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
            <a href="https://lapinf.ufn.edu.br" target="_blank"><img src="{% static 'core/img/logo_lapinf_hor.png' %}"
                style="width: 240px;"></a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 text-center">
            <br>
            <span class="label label-default">SAOA | Desenvolvido por alunos do curso Ciência da Computação UFN</span>
        </div>
    </div>
    
    <div class="row panel panel-default panel-body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>{% block title %}(no title){% endblock %}</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {% block content %}{% endblock %}
        </div>
    </div>
  </div>
{% endblock %}

{% block bootstrap3_extra_script %}
<script src="{% static 'core/vendors/jquery.maskedinput/dist/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'core/js/mascaras-genericas.js' %}"></script>
<script src="{% static 'core/vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'core/vendors/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js' %}"></script>
<script src="{% static 'core/js/datepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'core/js/login.js'%}" charset="UTF-8"></script>
{% endblock %}