{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
	{% bootstrap_icon 'question-sign' %} Sobre
{% endblock %}


{% block content %}
	<center>
	<!-- <img src="{% static 'core/img/logoLasimon.png' %}"
         class="img-responsive"> -->
    </center>

	<h3>Projeto em Parceria entre o Curso Ciência da Computação e o Laboratório de Práticas da Computação UFN</h3>
	<h4>Versão:</h4>
	<ul>
		<li>1.0 de Maio de 2024</li>	
	</ul>
	<h4>Apoio:</h4>
	<ul>
		<li>Universidade Franciscana</li>
	</ul>
	<h4>
		Colaboradores:
	</h4>
	<ul> 
		<li><strong>UFN</strong></li>
			<ul>
				<li>Professores:</li>
				<ul>
					<li>Alexandre Zamberlan - responsável pela disciplina</li>
					<li>Ana Paula Canal - coordenadora do curso de Ciência da Computação</li>
					<li>Sylvio André Garcia Vieira - coordenador do Laboratório de Práticas da Computação</li>
				</ul>
				<li>Alunos da disciplina Tópico Avançados em Informática I - Ciência da Computação - 2024</li>
				<ul>
					<li>Alexsander Cristofari</li>
					<li>Arthur Spironello</li>
					<li>Bernardo Viero</li>
					<li>Gabriel Fachim</li>
					<li>Guilherme Scalcon</li>
					<li>João Canha</li>
					<li>Luiz Batista Cardoso</li>
					<li>Matheus Faccin</li>
					<li>Matheus Braga</li>
					<li>Mauricio Braga</li>
					<li>Meani Freitas</li>
					<li>Paulo André Machado Maracci</li>
					<li>Roger Palma</li>
					<li>Vítor Possebon Bortoluzzi</li>
				</ul>
			</ul>
		<li><strong>Parceiro</strong>: <a href="https://www.linkedin.com/in/guilhermechagaskurtz/" target="__blank">Guilherme Chagas Kurtz</a></li>	
	</ul>
	<h4>
		Consultoria:
	</h4>
		<ul> 
			<li><a href="http://site.ersistemas.info/" target="_blank"> Empresa ER Sistemas</a> - Robertson Ebling dos Santos (egresso do curso de Sistemas de Informação)</li>
		</ul>
{% endblock %}