{% extends 'core/bootstrap.html' %}
{% load static %}

{% load bootstrap3 %}

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block bootstrap3_title %}SAOA | Sistema de Avaliação Online de Artigos</title>
    <link rel = "icon" href = "{% static 'core/img/favicon.svg' %}" type = "image/x-icon">
        {% comment %} <link rel = "icon" href =  
        "https://www.ufn.edu.br/site/favicon.ico" 
        type = "image/x-icon"> {% endcomment %}
    {% endblock %}
</head>

{% block bootstrap3_content %}
	{% include 'core/includes/_menu_principal.html' %}
    <br><br><br>
    <div class="container-fluid">
        <h1>{% block title %}(no title){% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
    <br>
    <br>
    <br>
    {% include 'core/includes/_barra_status.html' %}
{% endblock %}